<!DOCTYPE html>
<html ng-app="BattleShipApp">
<head>
    <title>Simple Battleship</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="style/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="controllers/gamecontroller.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var io;
        var socket = io.connect();
        var thisRef = this;

        socket.on("connect", function() {
            console.log("Successfully connected");

            socket.on("message", function(message) {
                if (message.type == "GameStarted") {
                    alert("session started with " + message.peer);
                }
            });

            $('#connected-state').html('Connected');
        });

        socket.on("connect_failed", function() {
            window.setTimeout(function() {
                console.log("Attempting to re-connect");
                thisRef.connect();
            }, 1000);
        })
    </script>
</head>
<body>
            </div>
        </div>

            <div class="container">

                <div class="starter-template">
                    <h1>Let the war begin</h1>
                </div>
                <div id="connected-state"></div>

                <div ng-controller="GameController">
                    <table>
                        <tr ng-repeat="row in board.columns">
                            <td ng-repeat="cell in row track by $index" ng-click="board.fireAt($index, $parent.$index)">
                                {{cell.state}}
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
</body>
</html>
