body {
  padding-top: 50px;
  background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(15%,#fff),color-stop(50%,#f3f3f3),color-stop(70%,#fff)) no-repeat;
  background: -webkit-linear-gradient(top,#fff 15%,#f3f3f3 50%,#fff 70%) no-repeat;
  background: -moz-linear-gradient(top,#fff 15%,#f3f3f3 50%,#fff 70%) no-repeat;
  background: -o-linear-gradient(top,#fff 15%,#f3f3f3 50%,#fff 70%) no-repeat;
  background: linear-gradient(top, #fff 15%,#f3f3f3 50%,#fff 70%) no-repeat;

}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

table {
    width: 100%;
}

table td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 2px;
    text-align: center;
    height: 40px;
    width: 40px;
}