body {
    background-color: #fff;
      padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#connected-state {
    color:#fff;
    display: block;
}

table {
    width: auto;
    background-color: #00b7ff;
    margin-top:100px;
}

table td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 2px;
    text-align: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

table tr td .hit {
    background-color: #4cff00;
}

table tr td .miss {
    background-color: #ff0000;
}

table tr td .ss {
    background-color: #000;
}